body {
    margin: 0 0 0 0;
}

.header {
    grid-area: header;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px 0px 1px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "headerNav     headerTitle      headerCoach      headerStats";
}

.navigation {
    grid-area: headerNav;
    display: flex;
    align-items: center;
}

.title {
    grid-area: headerTitle;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.coachmanContainer {
    grid-area: headerCoach;
    display: flex;
    align-items: center;
}

.coachmanPortrait {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 10px;
}

.coachmanStats {
    grid-area: headerStats;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coachmanStats div {
    margin: 0 10 0 10;
}

/* CHARACTERS LIST */
.charactersList {
    grid-area: charList;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1px 2px 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.characterSelectionCard {
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;
    transition: transform 0.2s ease-out;
}

.characterSelectionCard:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.selected {
    border: thick double black;
    font-weight: bold;
}

.selected .characterSelectionArrow {
    border-top: 10px solid transparent;
	border-left: 20px solid black;
	border-bottom: 10px solid transparent;
}

.characterName {
    margin: 0px 5px 0px 5px;
}

.characterPortrait {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 10 5 10 5;
}

.characterSelectionArrowContainer {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.characterSelectionArrow {
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid grey;
	border-bottom: 10px solid transparent;
    margin-right: 20px;
}

.characterPanel {
    grid-area: character;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 2px 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.characterPanelContainerInfos {
    display: flex;
    align-items: center;
}

.characterBigPortrait {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 0 10px 0 10px;
}

.characterPanelContainerStats {
    display: flex;
}

.characterStatsLabels {
    margin : 0px 10px 0px 10px;
}

.characterStatsValue {}

.characterPanelContainerSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsHeader {
    font-weight: bold;
    text-align: center;
}

.skillCard {
    display: flex;
    align-items: center;
    margin: 2px 0 2px 0;
}

.skillPicture {
    min-width: 25px;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    margin: 0 5 0 5;
}

.skillName {
    min-width: 30%;
    width: 30%;
    margin-right: 5px;
    font-weight: bold;
}

.skillDescription {}

.characterInventory {
    grid-area: charInvent;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 1px 2px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ".          head    ."
    "leftHand   torso   rightHand"
    ".          shoes   .";
}

/*    CHARACTER INVENTORY GRID    */
.characterHead {
    grid-area: head;
}

.characterLeftHand {
    grid-area: leftHand;
}

.characterTorso {
    grid-area: torso;
}

.characterRightHand {
    grid-area: rightHand;
}

.characterShoes {
    grid-area: shoes;
}

.characterInventorySpot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px 0 5px;
}

.bodyPart {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.itemGrid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 5px;
    overflow: auto;
}

.item {
    min-width: 150px;
    max-width: 150px;
    border: 1px solid black;
    margin: 2px 2px 2px 2px;
    display: flex;
    align-items: center;
}

.itemImage {
    width: 25px;
    height: 25px;
    min-width: 25px;
    border: 1px solid black;
    margin: 5 5 5 5;
}

.itemName {
    margin-right: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selecteEquipedPanel {
    grid-area: selectedEquipped;
    margin: 0 0 2px 1px;
}

.coachTrinkets {
    grid-area: coachTrink;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px 2px 0 0;
}

.inventoryPanel {
    grid-area: inventory;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px 1px 0 2px;
}

.selectedInventoryPanel {
    grid-area: selectedInventory;
    margin: 2px 0px 0 1px;
}

.selectedItem {
    overflow: auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemPortraitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemPortrait {
    width: 40px;
    height: 40px;
    min-height: 40px;
    border: 1px solid black;
}

.itemStats {
    display: flex;
    justify-content: center;
}

.itemStatsLabels {
    margin: 0 10px 0 0;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 25%;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas:
    "header     header      header      header"
    "charList   character   charInvent  selectedEquipped"
    "coachTrink inventory   inventory   selectedInventory";
}
