.container {
    width: 100%;
    height: 100%;
    max-height: 700px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 1fr 10%;
    grid-template-areas:
    ".   .   ."
    ". main  ."
    ".   .   .";
}

.main {
    grid-area: main;
    height: 100%;
    width: 100%;
    min-height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 10% 1fr 1fr;
    grid-template-areas:
    "image"
    "title"
    "description"
    "choices";
}

.imageContainer {
    grid-area: image;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image {
    width: 90%;
    height: 90%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    text-align: center;
    grid-area: title;
}

p {
    margin: 5px 10px 5px 10px;
    grid-area: description;
}

.choices {
    grid-area: choices;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.choice {
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px 0px 7px 10px;
    margin: 0px 5px 0px 5px;
}

.choice:hover {
    border: 1px dashed black;
    font-weight: bold;
    cursor: pointer;
}
