<div class="container">
    <div class="turnOrder">
        <div class="turnContainer">
            <div class="turnPortrait"></div>
            <div class="turnPortrait"></div>
            <div class="turnPortrait"></div>
            <div class="turnPortrait"></div>
            <div class="turnPortrait"></div>
            <div class="turnPortrait"></div>
            <div class="turnPortrait"></div>
        </div>
    </div>
    <div class="turnActions">
        <button>Surrender</button>
    </div>
    <div class="teamContainer team">
        <div class="characterTile"></div>
        <div class="characterTile"></div>
        <div class="characterTile"></div>
    </div>
    <div class="teamContainer enemyTeam">
        <div class="characterTile"></div>
        <div class="characterTile"></div>
        <div class="characterTile"></div>
    </div>
    <div class="selectedChar"></div>
    <div class="enemyStatus"></div>
</div>
