<div class="header">
    <div class="navigation">
        <button (click)="clickOnInventoryButton()">Inventory</button>
        <button (click)="clickOnFightButton()">Fight</button>
        <button (click)="clickOnEventButton()">Event</button>
    </div>
    <div class="title">Caravan</div>
    <div class="coachmanContainer">
        <div class="coachmanPortrait"></div>
        <p>Coachman name</p>
    </div>
    <div class="coachmanStats">
        <div>Day 15</div>
        <div>100 Gold</div>
        <div>15 Enemies killed</div>
        <div>10 Treasures</div>
    </div>
</div>
