
<div class="container">
    <header-root></header-root>
    <div class="charactersList">
        <div class="characterSelectionCard" [ngClass]="character.selected ? 'selected' : ''" *ngFor="let character of characters" (click)="onSelectCharacter(character)">
            <div class="characterPortrait"></div>
            <div class="characterName">{{ character.name }}</div>
            <div class="characterSelectionArrowContainer">
                <div class="characterSelectionArrow"></div>
            </div>
        </div>
    </div>
    <div class="characterPanel">
        <div class="characterPanelContainerInfos">
            <div class="characterBigPortrait"></div>
            <div>
                <div>{{ selectedCharacter.name }}</div>
                <div>Character Profession</div>
                <div>HP 60 / 60</div>
                <div>NRJ 10 / 50</div>
                <div>LVL 1</div>
            </div>
        </div>
        <div class="characterPanelContainerStats">
            <div class="characterStatsLabels">
                <div>Strength</div>
                <div>Dexterity</div>
                <div>Speed</div>
                <div>Damage</div>
                <div>Armor</div>
            </div>
            <div class="characterStatsValue">
                <div>4</div>
                <div>4</div>
                <div>4</div>
                <div>4</div>
                <div>4</div>
            </div>
        </div>
        <div class="characterPanelContainerSkills">
            <p class="skillsHeader">Skills</p>
            <div class="skillCard">
                <div class="skillPicture"></div>
                <div class="skillName">Skill name</div>
                <div class="skillDescription">Skill description</div>
            </div>
            <div class="skillCard">
                <div class="skillPicture"></div>
                <div class="skillName">Skill name</div>
                <div class="skillDescription">Skill description</div>
            </div>
        </div>
    </div>
    <div class="characterInventory">
        <div class="characterInventorySpot characterHead" [ngClass]="selectedBodyPart === 'head' ? 'selectedBodyPart' : ''" (click)="onSelectItem('head')">
            <div class="bodyPart"></div>
            <div>{{ selectedCharacter.head.name }}</div>
        </div>
        <div class="characterInventorySpot characterLeftHand" [ngClass]="selectedBodyPart === 'leftHand' ? 'selectedBodyPart' : ''" (click)="onSelectItem('leftHand')">
            <div class="bodyPart"></div>
            <div>{{ selectedCharacter.leftHand.name }}</div>
        </div>
        <div class="characterInventorySpot characterTorso" [ngClass]="selectedBodyPart === 'torso' ? 'selectedBodyPart' : ''" (click)="onSelectItem('torso')">
            <div class="bodyPart"></div>
            <div>{{ selectedCharacter.torso.name }}</div>
        </div>
        <div class="characterInventorySpot characterRightHand" [ngClass]="selectedBodyPart === 'rightHand' ? 'selectedBodyPart' : ''" (click)="onSelectItem('rightHand')">
            <div class="bodyPart"></div>
            <div>{{ selectedCharacter.rightHand.name }}</div>
        </div>
        <div class="characterInventorySpot characterShoes" [ngClass]="selectedBodyPart === 'legs' ? 'selectedBodyPart' : ''" (click)="onSelectItem('legs')">
            <div class="bodyPart"></div>
            <div>{{ selectedCharacter.legs.name }}</div>
        </div>
    </div>
    <div class="selectedItem selecteEquipedPanel">
        <div class="itemPortraitContainer">
            <div class="itemPortrait"></div>
            <div class="itemFullName">{{ selectedCharacter[selectedBodyPart].name }}</div>
        </div>
        <div class="itemStats">
            <div class="itemStatsLabels">
                <div class="itemStatLabel">Object</div>
                <div class="itemStatLabel">Type</div>
                <div class="itemStatLabel">Damage</div>
            </div>
            <div class="itemStatsValues">
                <div class="itemStatValue">One Hand</div>
                <div class="itemStatValue">Melee</div>
                <div class="itemStatValue">4</div>
            </div>
        </div>
        <div class="itemSkills">
            <div class="skillCard">
                <div class="skillPicture"></div>
                <div class="skillName">Skill name</div>
                <div class="skillDescription">Skill description</div>
            </div>
        </div>
    </div>
    <div class="itemGrid coachTrinkets">
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item namezdz z zdzd z</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name zdzdz zdzd z</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name scfds sdf</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name scfds sdf</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
    </div>
    <div class="itemGrid inventoryPanel">
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item namezdz z zdzd z</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name zdzdz zdzd z</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name scfds sdf</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
        <div class="item">
            <div class="itemImage"></div>
            <div class="itemName">Item name</div>
        </div>
    </div>
    <div class="selectedItem selectedInventoryPanel">
        <div class="itemPortraitContainer">
            <div class="itemPortrait"></div>
            <div class="itemFullName">Item Full Name</div>
        </div>
        <div class="itemStats">
            <div class="itemStatsLabels">
                <div class="itemStatLabel">Object</div>
                <div class="itemStatLabel">Type</div>
                <div class="itemStatLabel">Damage</div>
            </div>
            <div class="itemStatsLabels">
                <div class="itemStatLabel">One Hand</div>
                <div class="itemStatLabel">Melee</div>
                <div class="itemStatLabel">4</div>
            </div>
        </div>
        <div class="itemSkills">
            <div class="skillCard">
                <div class="skillPicture"></div>
                <div class="skillName">Skill name</div>
                <div class="skillDescription">Skill description</div>
            </div>
        </div>
    </div>
</div>
